[submodule "graphical-front-end"]
	path = graphical-front-end
	url = https://github.com/956159241/graphical-front-end.git
[submodule "code/web/zh-admin-vue"]
	path = code/web/zh-admin-vue
	url = https://github.com/956159241/zh-admin-vue.git
[submodule "code/web/zh-admin-react"]
	path = code/web/zh-admin-react
	url = https://github.com/956159241/zh-admin-react.git
[submodule "code/web/origin-examples"]
	path = code/web/origin-examples
	url = https://github.com/956159241/origin-examples.git
[submodule "code/web/zh-front-end-code-generation-tool"]
	path = code/web/zh-front-end-code-generation-tool
	url = https://github.com/956159241/zh-front-end-code-generation-tool.git
[submodule "code/desktop/electron-vue3-examples"]
	path = code/desktop/electron-vue3-examples
	url = https://github.com/956159241/electron-vue3-examples.git
